.html
{
	background: #FFFFFF url("../images/old-fashioned-textile-texture-27382641.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 864.9900034194211px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #F2DCBB;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 25px;
	margin-bottom: 3px;
}

#pu93-4
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-left: 8px;
	position: relative;
}

#u93-4
{
	z-index: 4;
	width: 988px;
	min-height: 73px;
	line-height: 66px;
	font-size: 55px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u193-4
{
	z-index: 40;
	width: 121px;
	min-height: 19px;
	color: #FF0000;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,3,32);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,3,32);
	-o-transform: matrix(0.866,-0.5,0.5,0.866,3,32);
	transform: matrix(0.866,-0.5,0.5,0.866,3,32);
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 856px;
}

#u94-4
{
	z-index: 8;
	width: 635px;
	min-height: 20px;
	text-align: center;
	font-weight: bold;
	margin-left: 185px;
	margin-top: 5px;
	position: relative;
}

#pu88
{
	width: 0.01px;
	margin-left: 385px;
	margin-top: 59px;
	position: relative;
}

#u88
{
	z-index: 2;
	width: 191px;
	position: relative;
	margin-right: -10000px;
}

#u95-4
{
	z-index: 12;
	width: 117px;
	min-height: 19px;
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 37px;
}

#u96-4
{
	z-index: 16;
	width: 81px;
	min-height: 19px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 55px;
}

#u97-4
{
	z-index: 20;
	width: 284px;
	min-height: 60px;
	line-height: 55px;
	font-size: 46px;
	font-weight: bold;
	margin-left: 337px;
	margin-top: 71px;
	position: relative;
}

#pu98
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 58px;
	position: relative;
}

#u98
{
	z-index: 24;
	width: 296px;
	border-width: 7px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: -7px;
}

#u103
{
	z-index: 26;
	width: 300px;
	border-width: 7px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: 622px;
}

#u103_clip
{
	overflow: hidden;
	width: 300px;
	height: 229px;
}

#u103_img
{
	margin-left: -22px;
	margin-right: -21px;
}

#u108-4
{
	z-index: 28;
	width: 130px;
	min-height: 26px;
	color: #FFFFFF;
	line-height: 23px;
	font-size: 19px;
	font-weight: bold;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 714px;
}

#u108
{
	text-decoration: underline;
}

#u109
{
	z-index: 32;
	width: 257px;
	border-width: 7px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 327px;
}

#u114-6
{
	z-index: 34;
	width: 427px;
	min-height: 33px;
	font-weight: bold;
	margin-left: 6px;
	margin-top: 47px;
	position: relative;
}

#u114-4
{
	font-size: 9px;
	line-height: 11px;
}

#page .verticalspacer
{
	clear: both;
}

